<!DOCTYPE html>
<html lang="en">
<%- include('block/head') %>

<body>
    <div class="page">
        <%- include('block/header') %>
        <%- include('block/face') %>
        <section class="section section_sostav">
            <div class="container">
                <div class="sostav">
                    <h1 class="sostav__title">Натуральные <mark>компоненты в составе</mark></h1>
                    <div class="sostav__list">
                        <div class="sostav__item">
                            <div class="sostav__name">Морковь</div>
                            <div class="sostav__description">Сохраняет сосудистое состояние глаза. Содержит витамин А, который играет ключевую роль во всей глазной системе, укрепляя ее и защищая от любых вредных воздействий.</div>
                        </div>
                        <div class="sostav__item">
                            <div class="sostav__name">Клюква</div>
                            <div class="sostav__description">Улучшает кровообращение в сетчатке. Благодаря дубильным веществам оказывает выраженное противовоспалительное действие на мягкие ткани глаза, защищает от ряда специфических заболеваний.</div>
                        </div>
                        <div class="sostav__item">
                            <div class="sostav__name">Шпинат</div>
                            <div class="sostav__description">Содержит лютеин, останавливает деструктивные процессы в сетчатке, улучшает качество и четкость зрения, повышает тонус глазных мышц; предотвращает катаракту, помутнение хрусталика.</div>
                        </div>
                        <div class="sostav__item">
                            <div class="sostav__name">Барбарис</div>
                            <div class="sostav__description">Имеет высокое содержание витамина С, который напрямую укрепляет капилляры глазной системы. Отсутствие этого приводит к потере качества зрения, снижению тонуса мышцы</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <%- include('block/face') %>
        <%- include('block/footer') %>
    </div>
    <%- include('block/script') %>
</body>

</html>